.logo{
    margin-top: -15px;
    width:120px;
}

body{
    background: #f3f3f3;
}

.main{
    margin: 0 auto;
    background: #ffffff;
    width: 730px;
    overflow: hidden;
    padding: 10px;
}

.page-title{
    text-align:center;
}